# NUNCA COMMITAR ESTE ARQUIVO!
# Este é apenas um exemplo de como o arquivo .git-credentials seria estruturado
# 
# Para usar, renomeie este arquivo para .git-credentials e adicione:
# https://SEU_USERNAME:SEU_TOKEN@github.com
#
# OU use o método mais seguro: git config credential.helper store
# e digite o token quando solicitado (ele será salvo criptografado)

